// color elements
$white:                       #FFF !default;
$black:                       #000 !default;

$black-dark:                  #080808 !default;
$black-light:                 #222 !default;

$bluejeans-dark:              #4A89DC !default;
$bluejeans-light:             #5D9CEC !default;

$aqua-dark:                   #3BAFDA !default;
$aqua-light:                  #4FC1E9 !default;

$mint-dark:                   #37BC9B !default;
$mint-light:                  #48CFAD !default;

$grass-dark:                  #8CC152 !default;
$grass-light:                 #A0D468 !default;

$sunflower-dark:              #F4D03F !default;
$sunflower-light:             #F5D76E !default;

$bittersweet-dark:            #E9573F !default;
$bittersweet-light:           #FC6E51 !default;

$grapefruit-dark:             #DA4453 !default;
$grapefruit-light:            #ED5565 !default;

$lavender-dark:               #967ADC !default;
$lavender-light:              #AC92EC !default;

$pinkrose-dark:               #D770AD !default;
$pinkrose-light:              #EC87C0 !default;

$lightgray-dark:              #E6E9ED !default;
$lightgray-light:             #F5F7FA !default;

$mediumgray-dark:             #AAB2BD !default;
$mediumgray-light:            #CCD1D9 !default;

$darkgray-dark:               #434A54 !default;
$darkgray-light:              #656D78 !default;
$darkgray-lighter:            #9D9D9D !default;

$brand-primary:         #337ab7 !default; // #337ab7
$brand-success:         #b9df90 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
//global
body {
    background-color: #f1f2f6;
    color: $darkgray-dark;
}
a {
    color: $darkgray-dark;
    &:hover {
        color: $darkgray-dark;
        text-decoration: none;
    }
}
input, button {
    outline: 0!important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.alert-success {
    background-color: #b9df90;
    border-color: #A0D468;
    color: #3c763d;
    a {
        color: #3c763d;
    }
}
.alert-info {
    background-color: #7cd1ef;
    border-color: #4FC1E9;
    color: #31708f;
    a {
        color: #31708f;
    }
}
.alert-warning {
    background-color: #f8e49e;
    border-color: #F5D76E;
    color: #8a6d3b;
    a {
        color: #8a6d3b;
    }
}
.alert-danger {
    background-color: #f2838f;
    border-color: #ED5565;
    color: #a94442;
    a {
        color: #a94442;
    }
}
.btn {
    border-radius: 2px;
    &.dropdown-toggle {
        min-width: 160px;
        .word-default {
            display: inline-block;
            min-width: 122px;
            text-align: left;
        }
    }
}
.btn-primary {
    border-color: $black-dark;
    background-color: $black-dark;
    &:hover,&:focus {
        border-color: $black-light;
        background-color: $black-light;
    }
    &:active {
        border-color: $black-light;
        background-color: $black-light;
            &:hover,&:focus {
            border-color: $black-light;
            background-color: $black-light;
        }
    }
}
.btn-sm {
    .glyphicon {
        top: 2px;
    }
}
.pagination {
    &>li {
        &>a {
            color: $darkgray-dark;
            &:hover,&:focus {
                color: $darkgray-dark;
            }
        }
        &.active>a,&.active>a:hover,&.active>a:focus {
            background-color: $black-light;
            border-color: $black-dark;
        }
    }
}
//header
.navbar-inverse {
    border-radius: 0;
    margin-bottom: 10px;
    .navbar-nav .open {
        .dropdown-menu {
            background-color: $black-dark;
            min-width: 0;
            &>li>a {
                background-color: inherit;
                color: $darkgray-lighter;
                &:hover {
                    background-color: $black-light;
                    color: $white;
                }
            }
        }        
    }
    .logo {
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-weight: bold;
        img {
            height: 50px;
        }
    }
}
//container
.panel {
    border: none;
    &.panel-default {
        &>.panel-heading {
            background-color: $lightgray-dark;
            border-color: $lightgray-dark;
            color: $darkgray-dark;
            .toggle-sidebar {
                margin-right: 15px;
            }
        }
    }
}
.main {
    padding: 0;
    overflow: hidden;
    .main-content {
        width: 80%;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
        @media (max-width:767px) {
            width: 100%;
            margin-right: -50%;
        }
        .toggle-sidebar {
            .arrow {
                &:before {
                    content: "\e079";
                }
            }
        }
        .content-box {
            margin: 0 15px 20px 15px;
            .content-title {
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
    .list-group {
        border-bottom: 1px solid #ddd;
        .list-group-item {
            border-left: none;
            border-right: none;
            border-bottom: none;
            border-radius: 0;
            .arrow {
                &:before {
                    content: "\e114";
                }
            }
            &.collapsed,>.collapsed {
                .arrow {
                    &:before {
                        content: "\e080";
                    }
                }
            }
            &:last-child {
                border-bottom-size:1px;
            }
        }
    }
    .menu-left {
        width: 20%;
        min-height: 550px;
        padding-right: 0;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
        @media (max-width:767px) {
            width: 50%;
        }
        .list-group-item {
            .arrow {
                margin-right: 8px;
                float: right;
            }
            &:hover {
                background-color: transparent;
            }
        }
    }
    &.full-content {
        .menu-left {
            margin-left: -20%;
            @media (max-width:767px) {
                margin-left: -50%;
            }
        }
        .main-content {
            width: 100%;
            .toggle-sidebar {
                .arrow {
                    &:before {
                        content: "\e080";
                    }
                }
            }
        }
    }
}

//login 
body.login {
    padding-top: 100px;
    background-color: #303641;
    color: #C1C3C6;
    a {
        color: #C1C3C6;
    }
}
.form-login {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto 30px auto;
    .login-title {
        margin-bottom: 15px;
        font-size: 30px;
        text-align: center;
        img {
            width: 180px;
        }
    }
    .form-group {
        .input-group {
            .input-group-addon {
                color: #FFF;
                background-color: #373E4A;
                border: 1px solid #373E4A;
            }
            input {
                height: 40px;
                line-height: 40px;
                background-color: #373E4A;
                border: 1px solid #373E4A;
                color: #FFF;
            }
            .verify {
                height: 40px;
                padding: 0;
                text-align: right;
                cursor: pointer;
                img {
                    height: 100%;
                }
            }
        }
    }
    .forget {
        padding-bottom: 10px;
        input {
            background-color: #373E4A;
            border: 1px solid #373E4A;
            color: #FFF;
        }
    }
    .btn-primary {
        border-color: $aqua-dark;
        background-color: $aqua-dark;
        color: #fff;
        &:hover {
            border-color: $aqua-light;
            background-color: $aqua-light;
        }
    }
}
.copyright {
    a {
        color: inherit;
    }
}

//note
.note {
    position:relative;
    top:0;
    bottom:0;
    float: left;
    width: 25%;
    padding-bottom:22%;
    color:#FFF;
    @media (max-width:959px) {
        width:50%;
        padding-bottom:45%;
    }
    @media (max-width:479px) {
        width:100%;
        padding-bottom:90%;
    }
    .note-item {
        position:absolute;
        margin:0;
        left:0;
        right:0;
        top:0;
        bottom:0;
        text-align:center;
        padding:35%;
        &:hover {
            cursor:pointer;
            display:inline;
            z-index:999;
            overflow:hidden;
            -webkit-box-shadow:5px 5px 5px 5px rgba(0,0,0,.2);
            -moz-box-shadow:5px 5px 5px 5px rgba(0,0,0,.2);
            box-shadow:5px 5px 5px 5px rgba(0,0,0,.2);
            -webkit-transform:scale(1.05);
            -moz-transform:scale(1.05);
            -o-transform:scale(1.05);
            transform:scale(1.05);
        }
    }
}

//toolbar
.toolbar {
    margin-bottom: 15px;
}

//img zoom in out
.img-box-out {
    position: relative;
    padding: 35% 50%;
    .img-box-in {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f1f2f6;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        margin-top: -30px;
        color: #fff;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
    }
    .remove {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        color: #fff;
    }
    &.big {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        background-color: rgba(100,100,100,.5);
        z-index: 9;
        .img-box-in {
            position: relative;
            width: 600px;
            height: 450px;
            margin: 60px auto;
            line-height: 450px;
            text-align: center;
            background-color: transparent;
            img {
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }
            .zoom {
                .glyphicon-zoom-in:before {
                    content: "\e016";
                }
            }
            .remove {
                display: none;
            }
        }
    }
}

//form
.img-uploaded {
    // width: 300px;
    input {
        display: none;
    }
}

//gallery
.thumb {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    .caption {
        .title {
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: bold;
        }
    }
}

//collapse-list
.collapse-list {
    .list-group {
        ul {
            padding-left: 10px;
        }
    }
    .btn-group {
        float: right;
        .btn-text {
            @media (max-width:479px) {
                display: none;
            }
        }
    }
}